[package]
name = "rustifact"
version = "0.2.0"
edition = "2021"
description = "A seamless bridge between a build script and the main crate."
license = "MPL-2.0"
repository = "https://github.com/mbaulch/rustifact"

[dependencies]
quote = "1.0.28"
prettyplease = "0.2.6"
syn = "2.0.18"
proc-macro2 = "1.0.59"
